<%- include('../userLayouts/userhead.ejs') %>

<style>
  .card {
    margin-right: 10px; 
  }
</style>

<div class="home">
  <div class="content" data-aos="zoom-out-right">
    <h3>Plants are the most beautiful items 
      <br>in the world.
    </h3>
    <h2>Category <span class="changecontent"></span></h2>
    <a href="#" class="btn">Order Now</a>
  </div>
</div>

<div class="d-flex flex-wrap mt-4 justify-content-center">
  <div class="card mb-4" style="width: 18rem;">
      <a href="/allProduct">
          <img src="/public/photo/images.jpeg" class="card-img-top" alt="Description of the image">
      </a>
      <div class="card-body">
          
        
        
        <p class="card-text">ALL PLANTS</p>
      </div>
  </div>

  <div class="card mb-4" style="width: 18rem;">
      <a href="/allpots">
          <img src="/public/photo/images (8).jpeg" class="card-img-top" alt="Description of the image">
      </a>
      <div class="card-body">
          <p class="card-text">SPIDER PLANT</p>
      </div>
  </div>

  <div class="card mb-4" style="width: 18rem;">
      <a href="/allMoneyplant">
          <img src="/public/photo/money plants.jpeg" class="card-img-top" alt="Description of the image">
      </a>
      <div class="card-body">
          <p class="card-text">MONEY PLANT</p>
      </div>
  </div>

  <div class="card mb-4" style="width: 18rem;">
      <a href="/palmtree">
          <img src="/public/photo/DSC_2431.webp" class="card-img-top" alt="Description of the image">
      </a>
      <div class="card-body">
          <p class="card-text">ARECA PALM</p>
      </div>
  </div>
</div>




<div class="banner" data-aos="fade-up" data-aos-duration="1500">
  <div class="content">
    <h3>Awesome plants</h3>
    <h2>UPTO 50% OFF</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, quod.</p>
    <div id="btnorder"><button>Order Now</button></div>
  </div>
 
</div>

<section id="gallary" data-aos="fade-up" data-aos-duration="1500">
  <div class="container">
    <h1>OUR GALLARY</h1>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <div class="overlay">
            <h3 class="text-center">Money plant</h3>
          </div>
          <img src="/public/photo/download (1).jpeg" alt="">
        </div>
      </div>
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <div class="overlay">
            <h3 class="text-center">Snake Plant</h3>
          </div>
          <img src="/public/photo/images (3).jpeg" alt="">
        </div>
      </div>
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <div class="overlay">
            <h3 class="text-center">Lucky Bamboo</h3>
          </div>
          <img src="/public/photo/download (5).jpeg" alt="">
        </div>
      </div>
    </div>


    <div class="row" style="margin-top: 30px;" data-aos="fade-up" data-aos-duration="1500">
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <div class="overlay">
            <h3 class="text-center">Pots</h3>
          </div>
          <img src="/public/photo/pots.webp" alt="">
        </div>
      </div>
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <div class="overlay">
            <h3 class="text-center">Stands</h3>
          </div>
          <img src="/public/photo/01.jpeg" alt="">
        </div>
      </div>
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <div class="overlay">
            <h3 class="text-center">Plant care</h3>
          </div>
          <img src="/public/photo/care.webp" alt="">
        </div>
      </div>
    </div>
  </div>
</section>


<%- include('../userLayouts/userFoot.ejs') %>
