
<div class="tab-pane fade" id="verify-otp">
    <div class="card-body pb-2">
        <form id="otp-verification-form">
            <div class="form-group">
                <label class="form-label">Enter OTP</label>
                <input type="text" class="form-control" id="otpInput">
            </div>
            <div class="text-right mt-3 pt-2 pb-5 pr-3">
                <button type="button" class="btn btn-primary" onclick="verifyOtp()">VERIFY OTP</button>
            </div>
        </form>
    </div>
</div>